!!!
%html
  %head
    %title Advice From Amy & Tina 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: "<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>", rel: "stylesheet", type: "text/css"}/

    #header.container.sixteen.columns
      %br
      %h2 Life Advice From Cultural Icons Tina Fey & Amy Poehler
      %br
      %br

    = yield

    #footie.container.sixteen.columns
      %br
      %hr
      Created by 
      = link_to "Neha Shah", "https://twitter.com/neha_shah"
    